.heading{
    color: blue;
    font-family: "Roboto";
    font-size: 30px;
    font-weight: bold;
}
.array{
    list-style-type: none;
}
.list-item{
    display: flex;
    flex-direction: row;
}
.heading2{
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
}
